<div style="width:430px;padding-left:30px;">
  <form autocomplete="off">
    <div class="form-group" *ngIf="isEdit">
          <label for="bookid">Book Id</label>
          <input id="bookid" class="form-control" type="text" name="bookId" [(ngModel)]="book.bookId" [disabled]="isEdit">
    </div>
    <div class="form-group">
      <label for="bookname">Book Name</label>
      <input id="bookname" class="form-control" type="text" name="bookname" [(ngModel)]="book.bookName">
    </div>
    <div class="form-group">
      <label for="authorname">Author Name</label>
      <input id="authorname" class="form-control" type="text" name="authorname" [(ngModel)]="book.author">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input id="category" class="form-control" type="text" name="category" [(ngModel)]="book.category">
  </div>
    <button class="btn btn-primary" type="submit" (click)="saveBook()">Save Book</button>
    <button class="btn btn-danger" type="button" style="margin-left : 10px;" *ngIf="!isEdit">Reset</button>
  </form>
</div>
