
<div class="container-fluid">
  <div>
    <div class="form-group">
      <label for="bookId">Book Id</label>
      <input id="bookId" class="form-control" type="text" name="bookId">
    </div>

    <div class="form-group">
        <label for="userId">User Id</label>
        <input id="userId" class="form-control" type="text" name="userId">
    </div>

    <div class="form-group">
        <label for="issueDate">Return Date</label>
        <input id="issueDate" class="form-control" type="date" name="issueDate">
    </div>

    <div class="form-group">
        <label for="returnDate">Return Date</label>
        <input id="returnDate" class="form-control" type="date" name="returnDate">
    </div>

  </div>  
</div>