

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="tableHeading">
          <div class="floatLeft"><input id="searchInput" type="text" name="searchInput" [(ngModel)]="searchText" placeholder="Search by BookId/Name"></div>
          <div class="floatRight">{{tableHeading}}</div>
        </div>        
            <table class="table table-striped table-bordered" style="table-layout: fixed;">               
                <thead>
                  <tr>
                    <th *ngFor="let col of columns" class="thStyle">{{col}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of (rows | search : searchText : ['bookId', 'bookName'])">
                    <td *ngFor="let key of keys">
                      {{row[key]}}
                    </td>
                  </tr>
                  <tr *ngIf="(rows | search : searchText : ['bookId', 'bookName']).length == 0">
                    <td colspan="columns.length">No Records Found</td>
                  </tr>
                </tbody>
              </table>              
        </div>
      </div>
