<div class="container-fluid">
  
  <ng-template [ngIf]="auth.role == 'user'">

      <div style="margin-top:20px;float:right">
          <a class="anchorStyle"  routerLinkActive="subMenuActive" routerLink="issue">Request Book</a>       
      </div>
<!-- 
      <div style="margin-top:20px;float:right">
          <a class="anchorStyle"  routerLinkActive="subMenuActive" routerLink="/dashboard/circulation">Issued Books</a>       
      </div> -->

</ng-template>
 
</div>

<router-outlet></router-outlet>
