<div class="container-fluid">
  
  <ng-template [ngIf]="auth.role == 'user'">

   
      <div style="margin-top:20px;float:right">
            <a class="anchorStyle" routerLinkActive="active" routerLink="return">Return Book</a>       
      </div>

      <div style="margin-top:20px;float:right">
          <a class="anchorStyle"  routerLinkActive="active" routerLink="issue">Request Book</a>       
      </div>

      <div style="margin-top:20px;float:right">
          <a class="anchorStyle"  routerLinkActive="active" routerLink="../">Issued Books</a>       
      </div>

</ng-template>
 
</div>

<router-outlet></router-outlet>
