<div class="row" id="login">

  <div class="col-md-4">
   
  </div>
  <div class="col-md-4">
    <div  style="width:350px;" class="topCenter">
        <div class="panel panel-default">
            <div class="panel-heading">Login Here</div>
            <div class="panel-body">
                <form autocomplete="off" name="form" #f="ngForm" (ngSubmit)="doLogin(f)">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input id="username" class="form-control" type="text" name="username" ngModel>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input id="password" class="form-control" type="password" name="password" ngModel>
                    </div>
                    <button class="btn btn-primary">Login</button>
                    <button class="btn btn-danger" type="reset" style="margin-left:10px;">Reset</button>
                  </form>
            </div>
          </div>
  
      </div>
    </div>
  
    <div class="col-md-4">
   
      </div>
      

</div>
<!--{{f.value | json}}-->
