<div class="container-fluid">
  
    <!-- Admin operational buttons-->
      <!-- <div class="row" *ngIf="auth.role == 'admin'">
          <div class="col-md-4" style="padding-top:20px;">
              <button class="btn btn-primary btnMargin" type="button">Add Book</button>
              <button class="btn btn-warning btnMargin" type="button">Edit Book</button>
              <button class="btn btn-danger btnMargin" type="button">Delete Book</button>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>        
      </div> -->
  
  
    <!-- Books table-->
      <div class="row">
          <app-bookslist></app-bookslist>
      </div>
  </div>